<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test suite" parallel="classes" thread-count="10">

    <test name="TestVKAccountApiAndUI">
        <classes>
            <class name="tests.TestVKAccountApiAndUI">
            </class>
        </classes>
    </test>
</suite>